<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="icon" href="https://api.iconify.design/typcn:weather-partly-sunny.svg">
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/app.js"></script>
</head>

<body>
    <div class='wrap'>
        <main class='container'>
            {{>header}}
            <p>This app can help you fetch the weather of wherever the location entered. Just pick a city or address
                you'd like to find out what the weather condition is, and enter it to the search bar.</p>
        </main>
        {{>footer}}
    </div>
</body>

</html>
